/* BASE STYLES */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* BACKGROUND BLUR */
body::after, .bg-blur {
  content: "";
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: -1;
  filter: blur(5px);
  width: 100vw;
  height: 100vh;
}

/* HEADER */
header {
  padding: 2rem 1rem;
  text-align: center;
}

header h1{
  font-weight: bold;
  font-size: 4vw;
  color: rgb(165, 105, 49);
  text-shadow: 2px 2px 4px black;
}

header h2{
  font-weight: bold;
  font-size: 4vw;
  color: rgb(56, 30, 6);
  text-shadow: 2px 2px 4px black;
}

/* MEDIA QUERY FOR SMALL SCREENS */
@media (max-width: 600px) {
  header {
    padding: 1.5rem 0.5rem;
  }

  header h1 {
    font-size: 6vw; /* smaller font on mobile */
  }

  header h2 {
    font-size: 4.5vw;
  }
}




/*design*/

.menu-toggle {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin: 1rem;
    border: black solid;
    padding: 6px;
    content: Menu;
}

.menu-toggle span {
  display: block;
  height: 4px;
  background: #333;
  border-radius: 2px;
  transition: all 0.3s ease;

}

.menu-links span {
  background-color: red;
}

/* Links show/hide */
.menu-links {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
}

.menu-links.active {
  display: flex;
}

/* Toggle animation */
.menu-toggle.active span:nth-child(1) {
   transform: rotate(90deg) translateX(10px) translateY(13px);
}

.menu-toggle.active span:nth-child(2) {
    transform: rotate(90deg) translateX(0px);

}

.menu-toggle.active span:nth-child(3) {
    transform: rotate(90deg) translateX(-11px) translateY(-12px);
}